


    <h1>Bonjour !</h1>

    <p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant :</p>

    <p><a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a></p>

    <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Cordialement,</p>
    <p>L'équipe de votre application</p>
