<h1>Bonjour {{ user.firstname }} !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>

<p>Ce lien expirera dans 1 heure.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>

<p>Cordialement,</p>
<p>L'équipe Destocard</p>
